body {
    font-family: Arial, sans-serif;
    margin: 2cm;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header img {
    width: 169px;
    height: auto;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.details-table td {
    border: 1px solid black;
    padding: 5px;
}

.gray-bg {
    background-color: #d3d3d3;
}


/* Ligacoes */

.ligacoes {
    margin-top: 50px;
    text-align: center;
}

.ligacao-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.ligacao-table td {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}


/* Visitas domiciliares */

.visitas {
    margin-top: 30px;
    text-align: center;
}

.visitas-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.visitas-table td {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

/* Atendimentos aos pais */

.atendimento {
    margin-top: 30px;
    text-align: center;
}

.atendimento-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.atendimento-table td {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

/* Assinatura */

.signature {
    text-align: center;
    margin-top: 40px;
}

.signature p {
    margin: 0;
}

.signature-fields {
    margin-top: 40px;
}

.signature-fields .label, .signature-fields .date {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    padding-top: 5px;
}

.signature-fields .label {
    width: 300px;
    border-top: 1px solid black;
    text-align: center;
}

.signature-fields .date {
    width: 200px;
    border-top: 1px solid black;
    text-align: center;
}