<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Ocorrência</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <!-- <div class="header">
        <img src="{{ logo_path }}" alt="Logotipo">
    </div> -->
    <div class="subtitle">
        SGP - SISTEMA DE GESTÃO PEDAGÓGICA<br>
        REGISTRO DE OCORRÊNCIA
    </div>
    <table class="details-table">
        <tr>
            <td colspan="1"><strong>DRE:</strong> {{ dre }}</td>
            <td colspan="3"><strong>UNIDADE ESCOLAR (UE):</strong> {{ unidade_escolar }}</td>
        </tr>
        <tr>
            <td colspan="3"><strong>ENDEREÇO:</strong> {{ endereco }}</td>
            <td colspan="1"><strong>CONTATO:</strong> {{ contato }}</td>
        </tr>
        <tr>
            <td colspan="1"><strong>TURMA:</strong> {{ turma }}</td>
            <td colspan="2"><strong>Criança/Estudante:</strong> {{ estudante }}</td>
            <td colspan="1"><strong>RA:</strong> {{ ra }}</td>
        </tr>
        <tr>
            <td colspan="2"><strong>USUÁRIO:</strong> {{ usuario }}</td>
            <td colspan="1"><strong>DATA:</strong> {{ data }}</td>
            <td colspan="1"></td>
        </tr>
    </table>


    <div class="ligacoes">
        {%if ligacoes %}
            <h3>LIGAÇÕES</h3>
            {% for ligacao in ligacoes %}
            <table class="ligacao-table">
                <tr>
                    <td class="gray-bg"><b>ABAE RESPONSÁVEL:</b></td>
                    <td>{{ ligacao.abae }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>DATA DA LIGAÇÃO:</b></td>
                    <td>{{ ligacao.data }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>TELEFONE:</b></td>
                    <td>{{ ligacao.telefone }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>OBSERVAÇÕES:</b></td>
                    <td>{{ ligacao.observacao }}</td>
                </tr>
            </table>
            {% endfor %}
        {%endif%}
    </div>


    <div class="visitas">
        {%if visitas %}
            <h3>VISITAS DOMICILIARES</h3>
            {% for visita in visitas %}
            <table class="visitas-table">
                <tr>
                    <td class="gray-bg"><b>ABAE RESPONSÁVEL:</b></td>
                    <td>{{ visita.abae }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>DATA DA VISITA:</b></td>
                    <td>{{ visita.data }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>PARECER FINAL:</b></td>
                    <td>{{ visita.observacao }}</td>
                </tr>
            </table>
            {% endfor %}
        {%endif%}
    </div>

    <div class="atendimento">
        {% if atendimentos %}
            <h3>ATENDIMENTOS AOS RESPONSÁVEIS</h3>
            {% for atendimento in atendimentos %}
            <table class="atendimento-table">
                <tr>
                    <td class="gray-bg"><b>FEITO POR:</b></td>
                    <td>{{ atendimento.func }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>DATA DO ATENDIMENTO:</b></td>
                    <td>{{ atendimento.data }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>RESPONSÁVEL PRESENTE:</b></td>
                    <td>{{ atendimento.responsavel }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>OBERSEVAÇÕES:</b></td>
                    <td>{{ atendimento.observacao }}</td>
                </tr>
            </table>
            {% endfor %}
        {%endif%}
    </div>

    <div class="tarefas">
        {%if tarefas %}
            <h3>TAREFAS</h3>
            {% for tarefa in tarefas %}
            <table class="tarefas-table">
                <tr>
                    <td class="gray-bg"><b>MATÉRIA:</b></td>
                    <td>{{ tarefa.titulo }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>STATUS:</b></td>
                    <td>{{ tarefa.status }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>DESCRIÇÃO:</b></td>
                    <td>{{ tarefa.observacoes }}</td>
                </tr>
                <tr>
                    <td class="gray-bg"><b>DATA DE ENTREGA:</b></td>
                    <td>{{ tarefa.dataFinal }}</td>
                </tr>
            </table>
            {% endfor %}
        {%endif%}
    </div>
    
  
    <div class="signature">
        <p>Estou ciente desta ocorrência</p>
        <div class="signature-fields">
            <p class="label">Assinatura do responsável</p>
            <p class="date">Data assinatura</p>
        </div>
    </div>
</body>
</html>